body{
    background-color: bisque
}
p{
    background-color:aliceblue;
    font-family: "Comic Sans MS";
}

.class1{
    background-color:lavender;
    font-family: "Times New Roman";
}
input{
    background-color: blue;
}


.btn1{
    background-color: blue;
}
/*
.btnFont{
    font-family: "Arial Black";
}
/*
#signup{
    background-color: darkkhaki;
}

 */

.btn1{
    background-color: blue;
}


.btn1:hover{
    background-color: #070785;
}



                                                       /* CSS */
                                                   .button-32 {
                                                       background-color: #fff000;
                                                       border-radius: 12px;
                                                       color: #000;
                                                       cursor: pointer;
                                                       font-weight: bold;
                                                       padding: 10px 15px;
                                                       text-align: center;
                                                       transition: 200ms;
                                                       width: 100%;
                                                       box-sizing: border-box;
                                                       border: 0;
                                                       font-size: 16px;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                   }

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}



                                                       /* CSS */
                                                   .button-18 {
                                                       align-items: center;
                                                       background-color: #0A66C2;
                                                       border: 0;
                                                       border-radius: 100px;
                                                       box-sizing: border-box;
                                                       color: #ffffff;
                                                       cursor: pointer;
                                                       display: inline-flex;
                                                       font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
                                                       font-size: 16px;
                                                       font-weight: 600;
                                                       justify-content: center;
                                                       line-height: 20px;
                                                       max-width: 480px;
                                                       min-height: 40px;
                                                       min-width: 0px;
                                                       overflow: hidden;
                                                       padding: 0px;
                                                       padding-left: 20px;
                                                       padding-right: 20px;
                                                       text-align: center;
                                                       touch-action: manipulation;
                                                       transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       vertical-align: middle;
                                                   }

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}